/* ------ Table of content ------

1. Custom property
2. Base
3. Components
	 ++ btn-menu
4. Layout
	 ++ title
	 ++ navigation
	 ++ quote
5. Breakpoints
	 ++ md
	 ++ lg
6. Reduced-motion

------------------------------ */

/* ====================
	 Custom property
==================== */
:root {
	--clr-primary-a: hsl(52, 100%, 50%);
}

/* ===============
	 Base
=============== */
body {
	background-color: var(--clr-primary-a);
}

main {
	display: flex;
	align-items: center;
	height: calc(100vh - 74px);
}

figure {
	max-width: 850px;
}

blockquote p::before,
blockquote p::after {
	display: inline-block;
	color: var(--bs-dark);
}
blockquote p::before {
	content: "\201C";
}
blockquote p::after {
	content: "\201D";
}

/* ===============
	 Components
=============== */
/* ----- btn-menu ----- */
.btn-menu {
	color: var(--bs-dark) !important;
	z-index: 99;
	padding: 12px 10px;
	transition: border-color 0.35s ease-out;
}
.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active {
	border-color: currentColor !important;
}

header.menu-open .btn-menu {
	color: var(--clr-primary-a) !important;
}

.bar {
	display: block;
	width: 20px;
	height: 2px;
	margin: 5px auto;
	transition: opacity 0.25s ease-out, transform 0.3s ease-out,
		background 0.35s ease-out;
	background-color: var(--bs-dark);
}
.bar:first-of-type {
	margin-top: 0;
}
.bar:last-of-type {
	margin-bottom: 0;
}

header.menu-open .bar {
	background-color: var(--clr-primary-a);
}
header.menu-open .bar-a {
	transform: translate(0, 7px) rotate(-45deg);
}
header.menu-open .bar-b {
	opacity: 0;
}
header.menu-open .bar-c {
	transform: translate(0, -7px) rotate(45deg);
}

/* ===============
	 Layout
=============== */
/* ----- title ----- */
.title {
	font-size: 1.45rem;
	z-index: 99;
}

.title a {
	color: var(--bs-dark);
	text-decoration-color: transparent;
	transition: text-decoration 0.2s ease-out, color 0.3s ease-out;
}
.title a:hover,
.title a:focus {
	text-decoration-color: currentColor;
}

header.menu-open .title > a {
	color: var(--clr-primary-a);
}

/* ----- navigation ----- */
.navigation {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	padding: 3rem;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	transition: clip-path 0.5s ease-out;
	clip-path: circle(0 at top right);
	background-color: var(--bs-dark);
}

header.menu-open .navigation {
	clip-path: circle(150% at top right);
}

.navigation a {
	color: var(--bs-white);
	font-size: 3rem;
	font-weight: 700;
	text-decoration-color: transparent;
	transition: text-decoration 0.2s ease-out, color 0.3s ease-out;
}
.navigation a:hover,
.navigation a:focus {
	text-decoration-color: currentColor;
}

header.menu-open .navigation a:hover,
header.menu-open .navigation a:focus {
	color: var(--clr-primary-a);
}

/* ----- quote ----- */
.quote {
	animation: fade_in ease 1s 1 forwards;
	background: url(../images/main/quotation-mark.png) no-repeat
		calc(100% - 12px) 100%/60px;
}

@keyframes fade_in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* ===============
	 Breakpoints
=============== */
/* ----- md ----- */
@media screen and (min-width: 768px) {
	.quote {
		background-size: 75px;
	}
}

/* ----- lg ----- */
@media screen and (min-width: 992px) {
	main {
		height: calc(100vh - 65.6px);
	}

	.btn-menu {
		display: none;
	}

	.title {
		font-size: 1.75rem;
	}
	.title a {
		color: var(--bs-dark) !important;
	}

	.navigation {
		position: static;
		width: initial;
		height: initial;
		padding: 0;
		column-gap: 1.5rem;
		flex-direction: row;
		align-items: center;
		clip-path: none;
		background-color: transparent;
	}

	.navigation a {
		color: var(--bs-dark) !important;
		font-size: 1rem;
		font-weight: 400;
	}

	.quote {
		background-size: 90px;
	}
}

/* ===============
	 Reduced-motion
=============== */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}
