@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------ Table of content ------

1. Base
2. Layout
   ++ title
   ++ hero
   ++ darkShadow
   ++ modal
3. Breakpoints
   ++ lg
4. Reduced-motion

------------------------------ */

/* ===============
   Base
=============== */
blockquote p {
	line-height: 1.25 !important;
}

blockquote p::before {
	content: "\201C";
}
blockquote p::after {
	content: "\201D";
}

/* ===============
   Layout
=============== */
/* ----- title ----- */
.title a {
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration 0.25s ease-out;
}
.title a:hover,
.title a:focus {
	text-decoration-color: currentColor;
}

/* ----- hero ----- */
.hero {
	height: calc(100vh - 66px);
	background: #22262a;
	background: #22262a
		linear-gradient(-45deg, #394047, #2d3339, #22262a, #171a1c) no-repeat
		50% / cover;
}

.hero > figure {
	opacity: 0;
	transform: translateY(10%);
	animation: fade_in 1s ease-out 0.5s 1 forwards;
}

@keyframes fade_in {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* ----- darkShadow ----- */
#darkShadow {
	opacity: 0;
	visibility: hidden;
	background-color: hsla(0, 0%, 9%, 0.5);
	transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
#darkShadow.active {
	opacity: 1;
	visibility: visible;
}

/* ----- modal ----- */
#modal {
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, -30%);
	transition: opacity 0.2s ease-out, visibility 0.2s ease-out,
		transform 0.4s ease-out;
}
#modal.show {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%);
}

/* ===============
   Breakpoints
=============== */
/* ----- lg ----- */
@media screen and (min-width: 992px) {
	.hero {
		height: calc(100vh - 70px);
	}
}

/* ====================
	 Reduced-motion
==================== */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}
